/*画面全体の設定*/
body,
html {
  height: 100%;
  margin: 0 auto;
}
 
/*固定する背景*/
.parallax {
  box-sizing: border-box;
  /*color: #FFF;
  font-size: 5rem;
  display: flex;*/
  align-items: center;
  justify-content: center;
  /*padding: 5%;*/
}
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
}
/*各背景の画像*/
.img-bg-01 {
  background-image: url('../img/bg.jpg');
}
.img-bg-02 {
  background-image: url('../img/bg2.jpg');
}
.img-bg-03 {
  background-image: url('画像のURL');
}
.img-bg-04 {
  background-image: url('画像のURL');
}
.img-bg-05 {
  background-image: url('画像のURL');
}
 
/*スクロールするコンテンツ*/
.scrollbox1 {
  background-color: #fff;
}
.scrollbox2 {
  background-color: #fff;
}
.scrollbox3 {
  background-color: #333;
}
.scrollbox4 {
  background-color: #444;
}
.scrollbox5 {
  background-color: #555;
}
.scrollbox6 {
  background-color: #666;